body{
	/*background-image: url(../image/bg2.mov);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #050505;
	color:#fcfecd;
	font-family: 'Tilt Neon', sans-serif;
}

#info-block{
	background-color: #383838;
	margin: 0%;
	padding-top: 30px;
	padding-bottom: 20px;
	height: 2%;
	width: 100%;
	left: 0px;
	top: 0px;
	position:absolute;
	border-radius: 10px;
}

#info-block h2{
	text-align: center;
	margin:0%;
}

#gameField{
	background: #383838;
	width: 600px;
	height: 400px;
	margin: 0 auto;
	position: absolute;
	overflow: hidden;
	top: 12%;
	left: 32%;
	border-radius: 10px;

}

#statLeft{
	background: #383838;
	width: 18%;
	height: 400px;
	margin: 0 auto;
	position: absolute;
	overflow: hidden;
	top: 12%;
	left: 12%;
	text-align: center;
	border-radius: 10px;
}

#statRight{
	background: #383838;
	width: 18%;
	height: 400px;
	margin: 0 auto;
	position: absolute;
	overflow: hidden;
	top: 12%;
	right: 12%;
	text-align: center;
	border-radius: 10px;
}

#progressbar1{
	width: 100%;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	background: #737373;
}

#progressbar2{
	width: 100%;
	height: 10px;
	position: absolute;
	top: 10px;
	left: 0;
	background: #737373;
	border: #000000 2px;
}

.ball{
	background: #fcfecd;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	position: absolute;
	top: -225px;
	left: -325px;
	display: block;
	transition: all 1s;
}


.bomb{
	/*background: #010101;*/
	background: #050505;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	position: absolute;
	top: -225px;
	left: -325px;
	display: block;
	transition: all 1s;
}

.left{
	top: 100px;
	left: -100px;
}

.right{
	top: 100px;
	left: 700px;
}

#score{
	/*color: #1ff14984;*/
	color: #737373;
	font-size: 40px;
	font-weight: bold;
	position: absolute;
	top: 10px;
	left: 10px;
}

#lifes{
	position: absolute;
	top: 10px;
	right: 10px;
}

#lifes span{
	width: 20px;
	height: 20px;
	border-radius: 50% ;/*
	border: 3px solid #C11101;
	background: linear-gradient(to bottom, #ff9900 0%, #ff0000 100%);*/
	background: #737373;
	display: block;
	float: left;
}
#start-block{
	width: 100%;
	height: 100%;
	background: #383838;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 25px;
}
#start-block button{
	display: block;
	margin: 30px auto;
	padding: 25px 150px;
	font-size: 40px;
	background: #737373;
	border-radius: 20px;
	color: #000000;
}

#start-block p{
	margin: 20px 50px 10px 50px;
}

#end{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #383838;
	color: #fcfecd;
	text-align: center;
	font-size: 40px;
}

#end button{
	display: block;
	margin: 5px auto;
	padding: 40px 80px;
	font-size: 30px;
	background: #737373;
	color: #000000;
	border-radius: 20px;
}

#end h2{
	margin: 30px auto;
}

#end h3{
	margin: 30px auto;
}

  /* -------------------------------------------------------------------*/
/* The switch - the box around the slider */
.switch {
	position: absolute;
	display: inline-block;
	left: 10px;
	top: 20px;
	width: 50px;
	height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #737373;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 4px;
	bottom: 2px;
	background-color: #000000;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #fcfecd;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #fcfecd;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(30px);
	-ms-transform: translateX(30px);
	transform: translateX(30px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 16px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  /* -------------------------------------------------------------------*/