body{
	/*background-image: url(../image/bg2.mov);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #050505;
	color:#fcfecd;
	font-family: 'Tektur', sans-serif;
	font-size: 1vw;
}

#info-block{
	background-color: #383838;
	margin: 0%;
	padding-top: 30px;
	padding-bottom: 20px;
	height: 2%;
	width: 78%;
	left: 12%;
	top: 3%;
	position:absolute;
	border-radius: 10px;
	max-height: 80px;
}

#info-block h2{
	text-align: center;
	margin:0%;
}

#gameField{
	background: #383838;
	width: 36%;
	height: 50%;
	margin: 0 auto;
	position: absolute;
	overflow: hidden;
	top: 15%;
	left: 32%;
	border-radius: 10px;
	cursor: crosshair;
}

#statLeft{
	background: #383838;
	width: 18%;
	height: 50%;
	margin: 0 auto;
	position: absolute;
	overflow: hidden;
	top: 15%;
	left: 12%;
	text-align: center;
	border-radius: 10px;
}

#statRight{
	background: #383838;
	width: 20%;
	height: 50%;
	margin: 0 auto;
	position: absolute;
	overflow: hidden;
	top: 15%;
	right: 10%;
	text-align: left;
	border-radius: 10px;
}
#statRight p{
	margin: 5% 6% 2.5% 8%;
}

#marg{
	color: #383838;
}

#progressbar1{
	width: 100%;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	background: #737373;
	transition: .4s;
}

#progressbar2{
	width: 100%;
	height: 10px;
	position: absolute;
	top: 10px;
	left: 0;
	background: #737373;
	border: #000000 2px;
	transition: .4s;
}

.ball{
	background: #fcfecd;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	position: absolute;
	top: -225px;
	left: -325px;
	display: block;
	transition: all 1s;
}


.bomb{
	/*background: #010101;*/
	background: #050505;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	position: absolute;
	top: -275px;
	left: -400px;
	display: block;
	transition: all 1s;
}

.left{
	top: 75%;
	left: -100px;
}

.right{
	top: 75%;
	left: 700px;
}

#score{
	/*color: #1ff14984;*/
	color: #737373;
	font-size: 40px;
	font-weight: bold;
	position: absolute;
	top: 10px;
	left: 10px;
}

#lifes{
	position: absolute;
	top: 10px;
	right: 10px;
}

#lifes span{
	width: 20px;
	height: 20px;
	border-radius: 50% ;/*
	border: 3px solid #C11101;
	background: linear-gradient(to bottom, #ff9900 0%, #ff0000 100%);*/
	background: #737373;
	display: block;
	float: left;
}
#start-block{
	width: 100%;
	height: 100%;
	background: #383838;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.5vw;
	text-align: center;
}
#start-block button{
	display: block;
	margin: 5% auto;
	padding: 5% 25%;
	font-size: 2vw;
	background: #737373;
	border-radius: 20px;
	color: #000000;
	font-family: 'Tektur', sans-serif;
}

#gameName{
	font-size: 5vw;	
}

#start-block p{
	margin: 5% 8% 2.5% 8%;

}

#end{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #383838;
	color: #fcfecd;
	text-align: center;
	font-size: 30px;
}

#end button{
	display: block;
	margin: 15% auto;
	padding: 5% 25%;
	font-size: 2vw;
	background: #737373;
	border-radius: 20px;
	color: #000000;
	font-family: 'Tektur', sans-serif;
}

#end h2{
	margin: 30px auto;
}

#end h3{
	margin: 30px auto;
}

  /* -------------------------------------------------------------------*/
/* The switch - the box around the slider */
.switch {
	margin-left: 5%;
	position: absolute;
	display: inline-block;
	left: 3%;
	top: 4.5%;
	width: 14.5%;
	height: 4.5%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #737373;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 70%;
	width: 25%;
	left: 13%;
	bottom: 15%;
	background-color: #000000;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #fcfecd;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #fcfecd;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 16px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  /* -------------------------------------------------------------------*/

footer{
	position: absolute;
	top: 88%;
	left: 0%;
	background-color: #161414;
	width: 100%;
	text-align: center;
	color: #737373;

}